/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}




/* header */
header{
    font-weight: 700;
    width: 100%;
    background-color: #000066 ;
    height: 100px;
}


.logo{
    float: left;
    width: 15%;
}


.navbar, .login{
    float: left;
    width: calc(85% / 2);
    font-size: 14px;
    line-height: 100px;
}

.navbar{
    text-align: center;
}

.login{
    text-align: right;
}

.logo img{
    width: calc(100px + 2.5vw);
}

header li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}

header li>a{
    text-decoration: none;
    color: white;
}


.login li:nth-child(2) a{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
}

.login li:last-child a{
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #00bb2d;
    border: 1px solid #00bb2d;
}






/* jumbotron */
.jumbotron{
    width: 100%;
    /* DEBUG:  */
    height: 400px;
    background-color: lightblue;
}

.jumbotron .container{
    /* DEBUG:  */
    border: 1px solid black;
    height: 100%;
}



/* adv */
.adv{
    width: 100%;
    /* DEBUG:  */
    height: 150px;
    background-color: gray;
}

.adv .container{
    /* DEBUG:  */
    border: 1px solid black;
    height: 100%;
}




/* 3 column section */
.column3{
    float: left;
    width: calc(100% / 3);
    /* DEBUG:  */
    height: 500px;
    background-color: red;
    border: 1px solid black;
}




/* 2 column section */
.column2{
    float: left;
    width: 50%;
    /* DEBUG:  */
    height: 500px;
    background-color: green;
    border: 1px solid black;
}




/* footer - eredita la stesa classe della sezione sopra la cui altezza si adatterà al contenuto */
footer{
    /* DEBUG:  */
    background-color: lightgreen;
}

footer .column2{
    /* DEBUG:  */
    height: 200px;
    background-color: lightgreen;
}
