/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}




/* header */
header{
    font-weight: 700;
    width: 100%;
    background-color: #000066;
    height: 100px;
}


.logo{
    float: left;
    width: 15%;
    padding-top: 15px;
}


.navbar, .login{
    float: left;
    width: calc(85% / 2);
    font-size: 14px;
    line-height: 100px;
}

.navbar{
    text-align: center;
}

.login{
    text-align: right;
}

.logo img{
    width: calc(100px + 2.5vw);
}

header li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}

header li>a{
    text-decoration: none;
    color: white;
}


.login li:nth-child(2) a{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
}

.green-button{
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #00bb2d;
    border: 1px solid #00bb2d;
}




/* jumbotron */
.jumbotron{
    width: 100%;
    height: 600px;
    background-color: #000066;
    background-image: url(../img/background-header.png);
    background-size: 65%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbo-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.jumbo-text h1{
    width: 60%;
    font-weight: 700;
    color: white;
    font-size: 70px;
    margin-bottom: 60px;
}

.jumbo-text a{
    color: white;
    text-decoration: none;
    padding: 30px 20px;
}




/* adv */
.adv{
    text-align: center;
    width: 100%;
    background-color: lightgray;
    height: 200px;
}

.adv .container{
    position: relative;
    height: 100%;
}

.adv-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adv-text h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.adv-text h3{
    color: gray;
    font-size: 25px;
}




/* 3 column section */
.column3{
    float: left;
    width: calc(100% / 3);
    /* DEBUG:  */
    height: 500px;
    background-color: red;
    border: 1px solid black;
}




/* 2 column section */
.column2{
    float: left;
    width: 50%;
    /* DEBUG:  */
    height: 500px;
    background-color: green;
    border: 1px solid black;
}




/* footer - eredita la stesa classe della sezione sopra la cui altezza si adatterà al contenuto */
footer{
    /* DEBUG:  */
    background-color: lightgreen;
}

footer .column2{
    /* DEBUG:  */
    height: 200px;
    background-color: lightgreen;
}
